/* Container */
.contact-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

/* Header Section */
.contact-header {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
}

.contact-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.option {
    text-align: center;
}

    .option h2 {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .option span {
        font-size: 2rem;
    }

/* Message Section */
.message-section {
    padding: 20px;
}

    .message-section h2 {
        margin-bottom: 10px;
    }

    .message-section p {
        margin-bottom: 20px;
    }

.input-row {
    display: flex;
    gap: 10px;
}

.about-inputs {
    width: 346px !important;
    margin-bottom: 5px;
    padding: 60px;
}

.input-group {
    flex: 1;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

.submit-button {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #c9302c;
    }
